<% content_for :title, 'New Document Group' %>
<h2>New DocumentGroup</h2>
<p>Pleases choose type of document group</p>

<%= render 'form' %>

<%= link_to 'Back', monitored_resource_document_groups_path, :class => 'button tiny' %>
