<h1>Welcome</h1>
<p>To the Google Drive Changes Feed application.</p>
<p>This app is a research project.</p>
<ul>
	<li>Implement MonitoredPeriod: from, to, name, (group by: permission-group user), belongs_to user, self/ monitored_resource has_many &raquo; n-to-n join-table</li>
	<li>Concept for fetching workflow: structure get/update, changes get/update/ calc.-diffs</li>
	<li>Last-Viewed implementation: file-watch or required auth of every group member</li>
	<li>Update Monitored Resource File List when "view" is called</li>
	<li>Workflow for error-handling when permissions not sufficient</li>
	<li>Drive custom properties properties().insert/ update. Store my database UID, https://developers.google.com/drive/properties, http://www.youtube.com/watch?v=88DUIFM_nng</li>
	<li>File.watch for changes channel: https://developers.google.com/drive/v2/reference/files/watch</li>
	<li>GET https://www.googleapis.com/drive/v2/files/fileId/comments</li>
	<li>GET https://www.googleapis.com/drive/v2/files/fileId/comments/commentId/replies</li>
	<li>GET https://www.googleapis.com/drive/v2/files/fileId/revisions</li>
	<li>gem cancan, gem devise_openid_authenticatable, gems for heruku rails12factor, newrelic_rpm, airbrake</li>
	<li>http://stackoverflow.com/questions/18144094/google-drive-sdk-push-notifications-watch-changes-on-all-files</li>
</ul>