<% content_for :title, 'MimeType File Count' %>

<h2>MimeTypes</h2>
<% unless @mime_count.blank? %>
    <ul>
        <% @mime_count.each do |type, count| %>
            <li><b><%= type %>: </b> <%= count %></li>
        <% end %>
    </ul>
<% else %>
    <p>No files found!</p>
<% end %>
