<% content_for :title, 'Edit Period Group' %>
<h2>Edit Period Group</h2>
<%= render 'form' %>
<div class="row" style="margin-left: 15px;"><%= link_to '« Show', period_groups_path, :class => 'button secondary tiny' %></div>