<% content_for :title, 'Welcome' %>
<h3>Welcome to Google Drive Monitor</h3>
<p>This application is a research project.</p>
<ul>
	<li>Concept for fetching workflow: structure get/update, changes get/update/ calc.-diffs</li>
	<li>Last-Viewed implementation: file-watch https://developers.google.com/drive/v2/reference/files/watch</li>
	<li>Workflow for error-handling when permissions not sufficient</li>
	<li>Production: newrelic_rpm, airbrake</li>
	<li>http://stackoverflow.com/questions/18144094/google-drive-sdk-push-notifications-watch-changes-on-all-files</li>
</ul>