<% content_for :title, 'Edit Monitored Period' %>
<h2>Edit Monitored Period</h2>
<%= render 'form' %>
<div class="row" style="margin-left: 15px;"><%= link_to '« Show', @monitored_period, :class => 'button secondary tiny' %></div>