<% content_for :title, 'Create new Monitored Resource' %>

<h2>Monitor a resource</h2>
<ul class="folder-list">
<% @folders.each do |folder| %>
	<li><i class="fi-folder"></i> 
		<% unless @monitored_resources_ids.include? folder['id'] %>
		<%= link_to folder['title'], create_with_path(folder['id']) %>
		<%else %>
			<%= folder['title'] %>
		<% end%>
	</li>
<% end %>
</ul>
