<% content_for :title, 'Permissions for file: ' + @monitored_resource.title %>
<h2>Permissions for: <%= @monitored_resource.title %></h2>

<% unless @monitored_resource.permissions.blank? %>
    <ul>
    <% @monitored_resource.permissions.each do |permission| %>
        <li><%= permission.title  %> - <%= permission.role %></li>
    <% end %>
    </ul>
<% end %>

<%= link_to "Refresh Permissions", mr_refresh_permissions_path(@monitored_resource.id), :class => 'button tiny' %>