<% content_for :title, "Threshold for aggregating revisions" %>

<h2>Thresholds Plots for aggregating revisions</h2>

<% if current_user.has_role? :admin %>
<span class="has-tip" title="This will calculate the time distance in seconds for each revision." data-tooltip>
    <%= link_to "Calculate Distances", calculate_threshold_path, :class => 'button tiny' %>
</span>
<% end %>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel-1">Number of revisions +60 sec above threshold</a></dd>
  <dd><a href="#panel-2">Frequency vs. Distance (in Sec.)</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel-1">
    <div id="optimal-threshold-columnchart" style="width: 1000px; height: 600px;"></div>
    <div id="optimal-threshold-boxplot" style="width: 1000px; height: 600px;"></div>
  </div>
  <div class="content" id="panel-2">
    <div class="scatter_chart_div" id="scatter_chart_div_0" style="width: 1000px; height: 500px;"></div>
  </div>
</div>