/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 *= require loader
 *= require dataTables.foundation
 */

html, body {
    height: 100%;
}

ul.folder-list {
	list-style-type: none;
	margin-left: 0px;
}

ul.folder-list li i {
	color: #008cba;
	font-size: 1.1em;
}

div.sidebar {
    background: #E2E2E2;
    padding: 32px 20px;
    height: 100%;
}

div.content {
    padding: 16px 32px;
}

.side-nav li.divider {
    margin: 16px 0px;
}

input.delete {
    padding: 0.325rem 1rem !important;
    margin-bottom: 0px;
}

select.permissions {
    height: 200px;
}

.hidden {
    display: none;
}