<% content_for :title, "MetaReport" %>

<h2>MetaReport</h2>
<div class="large-3 columns">
    <ul class="side-nav">
    <% @metrics.each_with_index do |metric_name,metric_index| %>
        <li <%= 'class="active"'.html_safe if metric_index == 0 %>><a data-metric-name="<%= metric_name %>" href="#" class="metric-link "><%= metric_name %></a></li>
    <% end %>
    </ul>
</div>
<div class="large-9 columns">
    <div id="metareport-chart" class="metareport-charts" style="width:100%; height:400px;"></div>
</div>